<ion-view mz-screen view-title="{{ title | translate }}">
    <ion-content>
        <div class="filters">
	        <ion-scroll direction="x">
	        	<a ng-repeat="channel in data" >
	        		<img class="channel_icon" ng-class="{'selection': channel.checked}" ng-click="check(channel)" ng-src="{{channel.img}}">
	        	</a
				},>
	        </ion-scroll>
        </div>
        <div class="wrapper">
        	<ion-scroll class="scroller">
	        	<table class="schedule">
	        		<tbody>
	        			<tr>
	        				<td id="time" class="column">
	        					<div id="reference" class="time"> <p class="hour">12am</p></div>
	        					<div class="time"> <p class="hour">1am</p></div>
	        					<div class="time"> <p class="hour">2am</p></div>
	        					<div class="time"> <p class="hour">3am</p></div>
	        					<div class="time"> <p class="hour">4am</p></div>
	        					<div class="time"> <p class="hour">5am</p></div>
	        					<div class="time"> <p class="hour">6am</p></div>
	        					<div class="time"> <p class="hour">7am</p></div>
	        					<div class="time"> <p class="hour">8am</p></div>
	        					<div class="time"> <p class="hour">9am</p></div>
	        					<div class="time"> <p class="hour">10am</p></div>
	        					<div class="time"> <p class="hour">11am</p></div>
	        					<div class="time"> <p class="hour">12am</p></div>
	        					<div class="time"> <p class="hour">1pm</p></div>
	        					<div class="time"> <p class="hour">2pm</p></div>
	        					<div class="time"> <p class="hour">3pm</p></div>
	        					<div class="time"> <p class="hour">4pm</p></div>
	        					<div class="time"> <p class="hour">5pm</p></div>
	        					<div class="time"> <p class="hour">6pm</p></div>
	        					<div class="time"> <p class="hour">7pm</p></div>
	        					<div class="time"> <p class="hour">8pm</p></div>
	        					<div class="time"> <p class="hour">9pm</p></div>
	        					<div class="time"> <p class="hour">10pm</p></div>
	        					<div class="time"> <p class="hour">11pm</p></div>
	        				</td>
	        				<td class="column" ng-class="tworows ? 'twoselected' : 'oneselected'">
	        					<div ng-repeat="show in selected[0].shows" ng-style="{'position':'absolute','top': show.time+'%', 'height':show.duration+'%' }" class="show" ng-class="tworows ? 'twoselected' : 'oneselected'" ng-class="{'trending': show.trending}">
	        						<div class="textcut" ng-class="{'trending': show.trending}">
		        					{{show.name+'. '+show.specs+'('+show.live+')'}}
		        					</div>
	        					</div>
	        				</td>
	        				<td class="column column2" ng-show="tworows">
	        					<div ng-repeat="show in selected[2].shows" ng-style="{'position':'absolute','top': show.time+'%', 'height':show.duration+'%' }" class="show rightshow" ng-class="tworows ? 'twoselected' : 'oneselected'" >
	        					<div ng-class="show.trending ? 'trending' : 'notrending'">
		        					{{show.name+'. '+show.specs+'('+show.live+')'}}
		        				</div>
	        					</div>
	        				</td>
	        			</tr>
	        		</tbody>
	        	</table>
        	</ion-scroll>
        </div>
    </ion-content>
</ion-view>
<!-- ng-click="show.trending ? goHighlights() : goShow(show)" -->