<ion-view mz-screen view-title="{{ title | translate }}">
    <ion-content>
        <div class="filters">
	        <ion-scroll direction="x">
	        	<a class="channel_icon" ng-repeat="channel in data" ng-click="check(channel">
	        		<img src="channel.img">
	        	</a>
	        </ion-scroll>
        </div>
        <div class="wrapper">
        	<ion-scroll class="scroller">
	        	<table class="schedule">
	        		<tbody>
	        			<tr>
	        				<td id="time" class="column">
	        					<div id="reference" class="time"> <p class="hour">12am</p></div>
	        					<div class="time"> <p class="hour">1am</p></div>
	        					<div class="time"> <p class="hour">2am</p></div>
	        					<div class="time"> <p class="hour">3am</p></div>
	        					<div class="time"> <p class="hour">4am</p></div>
	        					<div class="time"> <p class="hour">5am</p></div>
	        					<div class="time"> <p class="hour">6am</p></div>
	        					<div class="time"> <p class="hour">7am</p></div>
	        					<div class="time"> <p class="hour">8am</p></div>
	        					<div class="time"> <p class="hour">9am</p></div>
	        					<div class="time"> <p class="hour">10am</p></div>
	        					<div class="time"> <p class="hour">11am</p></div>
	        					<div class="time"> <p class="hour">12am</p></div>
	        					<div class="time"> <p class="hour">1pm</p></div>
	        					<div class="time"> <p class="hour">2pm</p></div>
	        					<div class="time"> <p class="hour">3pm</p></div>
	        					<div class="time"> <p class="hour">4pm</p></div>
	        					<div class="time"> <p class="hour">5pm</p></div>
	        					<div class="time"> <p class="hour">6pm</p></div>
	        					<div class="time"> <p class="hour">7pm</p></div>
	        					<div class="time"> <p class="hour">8pm</p></div>
	        					<div class="time"> <p class="hour">9pm</p></div>
	        					<div class="time"> <p class="hour">10pm</p></div>
	        					<div class="time"> <p class="hour">11pm</p></div>
	        				</td>
	        				<td id="filter1" class="column" ng-class="tworows ? 'twoselected' : 'oneselected'">
	        					<div ng-repeat="show in selected[0].shows" ng-style="{'position':'absolute','top': show.time, 'height':show.duration }" class="show trending" ng-class="tworows ? 'twoselected' : 'oneselected'">
	        					</div>
	        				</td>
	        				<td id="filter2" class="column" ng-show="tworows">
	        					<div ng-repeat="show in selected[1].shows" ng-style="{'position':'absolute','top': show.time, 'height':show.duration }" class="show trending" ng-class="tworows ? 'twoselected' : 'oneselected'">
	        					</div>
	        				</td>
	        			</tr>
	        		</tbody>
	        	</table>
        	</ion-scroll>
        </div>
    </ion-content>
</ion-view>
