//Define any sass variables and styles here.
//They may be overridden by the application using the screen.

$myColor: #00dda0;
$showColor: #FFF; //#8C0303
$showTextColor: ; //#FFF
$showColorEven: #4F4F4F; //#F2F2F2
$showTextColorEven: #FFF; //#FFF
$trendingColor: #BF0404;
$trendingTextColor: #FFF;
$trendingColorBorder: #000;
$timeColorOdd: #8C0303;
$timeTextOdd: #FFF;
$timeColorEven: #000;
$timeTextEven: #FFF;
$columnBorderColor: #DDD;
$optionBorderColor: #BF0404;
$optionSelectedBorderColor: #400101;

.customHeader {
  color: $myColor;
}

.filter {
	display: inline-block;
	margin: 3% 3% 3% 3%;
	font-size: 50px;
}

.filters {
	white-space: nowrap;
	padding-right:3%; 
}

.scroll-bar-indicator
{
	display: none;
}

#time {
	width:20%;
}

.time {
	height: 5%;
	padding: none;
	margin: none;
	white-space:nowrap;
	text-align:center;
	background-color: $timeColorOdd;
	color: $timeTextOdd;
}

.time:nth-child(even) {
	background-color: $timeColorEven;
	color: $timeTextEven;
}

.column {
	border-left:1px solid $columnBorderColor;
	height:100%;
	border-bottom: 20px;
}

.scroller {
	height: 530px;
}

.schedule {
	margin: 2% 4% 10% 0%;
	height: 2000px;
	width: 100%;
}

.wrapper {
	height: 100%;
	width: 100wh;
	padding: 2% 4% 2% 4%;
}

td div {
	display:block;
}

.oneselected {
	width:80%;
}

.twoselected {
	width:40%;
}

.textcut {
	white-space: normal;
	line-height: 26px;
}

.trending {
	box-shadow: 0 0 0 5px $trendingColorBorder inset;
	width: 100%;
	height: 100%;
	background-color: $trendingColor;
	color: $trendingTextColor;
	padding: 5px 0px 5px 0px;
	line-height:18px;
}

.notrending {
	padding: 5px;
}

.show {
	background: $showColor;
	color: $showTextColor;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.show:nth-child(even) {
	background: $showColorEven;
	color: $showTextColorEven;
}


.hour {
	vertical-align: center;
}

.channel_icon{
	max-width:75px;
	max-height:75px;
	margin: 5% 0% 5% 5%;
	//border-color: $optionBorderColor;
	//border-style: solid;
	//border-width:3px;
}

.selection {
	border-width:6px;
	border-color: $optionSelectedBorderColor;
	border-style: solid;
}

.rightshow {
	border-left:1px solid $columnBorderColor;
}